GOOGLE_APPLICATION_CREDENTIALS=/caminho/local/para/service-account.json
FIREBASE_PROJECT_ID=cardocs-app
PORT=8080
APIPLACAS_TOKEN=configure-em-secret-manager-ou-ambiente-local
APIPLACAS_BASE_URL=https://wdapi2.com.br
CARSXE_API_KEY=configure-em-secret-manager-ou-ambiente-local
CARSXE_BASE_URL=https://api.carsxe.com
