.git
.gitignore
.firebase
lib
node_modules
firebase-debug.log
firebase-debug.*.log
*.log

.env
.env.local
.env.*.local
*-firebase-adminsdk-*.json
firebase-adminsdk*.json
service-account*.json
*.p8
*.p12
